<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_STORE_OR_AD_HOC_BUILD</key>
	<false/>
	<key>DEVELOPMENT_APP_KEY</key>
	<string>w--L1QNnQU-tHHQ_z-SULQ</string>
	<key>DEVELOPMENT_APP_SECRET</key>
	<string>YQg6Vum1Q9yRAOowRU30kA</string>
	<key>PRODUCTION_APP_KEY</key>
	<string>lol</string>
	<key>PRODUCTION_APP_SECRET</key>
	<string>lol</string>
</dict>
</plist>
