<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inProduction</key>
	<false/>
	<key>developmentAppKey</key>
	<string>w--L1QNnQU-tHHQ_z-SULQ</string>
	<key>developmentAppSecret</key>
	<string>YQg6Vum1Q9yRAOowRU30kA</string>
	<key>productionAppKey</key>
	<string>8DgSHUgIT0O49VeyixZhwg</string>
	<key>productionAppSecret</key>
	<string>xu1ZRmkUTTeC6VG409j3gw</string>
</dict>
</plist>
